include data.pug

section.ui-colors-list
  .l-default
    h1.ui-colors-list__title.f-h1 Цвета

    .ui-colors-list__items
      each color in colorListLight
        .ui-colors-list__item
          .ui-colors-list__item-name.f-s.f-medium= color.name
          .ui-colors-list__item-box(style=`background-color: var(--color-${color.name});`)

    .ui-colors-list__items
      each color in colorList
        .ui-colors-list__item
          .ui-colors-list__item-name.f-s.f-medium= color.name
          .ui-colors-list__item-box(style=`background-color: var(--color-${color.name});`)

    .ui-colors-list__items
      each color in colorListAdditional
        .ui-colors-list__item
          .ui-colors-list__item-name.f-s.f-medium= color.name
          .ui-colors-list__item-box(style=`background-color: var(--color-${color.name});`)
